---
import CallToAction from '@/components/Common/CallToAction/CallToAction';
import Footer from '@/components/Common/Footer/Footer';
import Header from '@/components/Common/Header/Header';
import SingleHero from '@/components/Single/SingleHero';
import SingleImage from '@/components/Single/SingleImage';
import SingleImageHero from '@/components/Single/SingleImageHero';
import SingleImagePair from '@/components/Single/SingleImagePair';
import SingleInfo from '@/components/Single/SingleInfo';

import Layout from '@/layouts/Layout';

import OgImg from '../../../assets/images/clientes/sanfrancisco/og-sanfrancisco.webp'
import imageHero from '../../../assets/images/clientes/sanfrancisco/feature-sanfrancisco.webp'


import imageGaleria from '../../../assets/images/clientes/sanfrancisco/galeria-sanfrancisco.webp'
import imageHallEntrada from '../../../assets/images/clientes/sanfrancisco/hallentrada-sanfrancisco.webp'

import imagenEspacio1 from '../../../assets/images/clientes/sanfrancisco/espacio-verde-sanfrancisco-1.webp'
import imagenEspacio2 from '../../../assets/images/clientes/sanfrancisco/espacio-verde-sanfrancisco-2.webp'

import imagenComedor from '../../../assets/images/clientes/sanfrancisco/living-sanfrancisco.webp'


import imagenEspacios1 from '../../../assets/images/clientes/sanfrancisco/pasillo-sanfrancisco.webp'
import imagenEspacios2 from '../../../assets/images/clientes/sanfrancisco/bano-sanfrancisco.webp'

---


<Layout title="— Casa San Francisco" ogImage={OgImg.src} description="Descubre un diseño elegante y funcional con espacios optimizados, combinando materiales de calidad y detalles sofisticados para un hogar moderno y acogedor." >
	<main>
		<Header class={'header'} />
		<div style={{height:'100px'}}></div>

		<section>
			<header>
				<div class="row">

					<h1>— Casa San Francisco</h1>

					<SingleHero
					items={[
						// { title: "Cliente", text: "Lorem impsim " },
						{ title: "Ubicación", text: "San Francisco, Manzanares" },
						{ title: "Tamaño", text: "367m2" },
						{ title: "Terreno", text: "914m2" },
						{ title: "Tipo", text: "Vivienda" },
					]}
					
					
					description={[
						"Esta moderna y luminosa vivienda ubicada en el corazón de San Francisco destaca por su diseño funcional y elegante. Al ingresar, el hall de entrada da la bienvenida con una cálida iluminación natural, mientras que el amplio living invita a disfrutar de momentos de relajación y convivencia en un espacio cómodo y sofisticado.",
						"La casa cuenta con una galería que conecta armoniosamente con el patio, ideal para reuniones al aire libre o simplemente disfrutar del entorno. Además, dispone de un práctico estacionamiento para auto, ofreciendo comodidad y seguridad en el día a día."
					]} />

				</div>
			</header>

			<SingleImageHero image={imageHero} title="Hall de Entrada" subtitle="San Francisco" />

			<SingleInfo
			title="La galeria"
			text={[
				"La galería de esta vivienda es un espacio moderno, luminoso y amplio, diseñado para conectar el interior con el exterior de manera armónica. Sus grandes aberturas permiten el ingreso de luz natural durante todo el día, creando un ambiente cálido y acogedor.",
				"Perfecta para disfrutar de momentos al aire libre, esta galería se adapta tanto a reuniones sociales como a instantes de relax en un entorno elegante y funcional.",
			]} />


			<SingleImage image={imageGaleria}  title="La Galeria" subtitle="San Francisco" />

			<SingleInfo
			title="Entrada y Espacios"
			text={[
				"El hall de entrada, de estilo moderno y elegante, marca el carácter contemporáneo de la vivienda desde el primer momento. A su lado, dos cocheras amplias brindan comodidad y funcionalidad para el estacionamiento.",
				"Los espacios verdes están cuidadosamente distribuidos alrededor de la casa, integrándose de manera armoniosa con el diseño y aportando un toque de frescura y naturalidad a cada rincón.",
			]} />

			<SingleImage image={imageHallEntrada}  title="El Hall de entrada" subtitle="San Francisco" />

			<SingleInfo
			text={[
				"Los espacios verdes, integrados de manera sutil, enmarcan el recorrido con plantas cuidadosamente seleccionadas, brindando frescura y una conexión armónica con el entorno natural. La luz natural que atraviesa las aberturas superiores y los ventanales verticales acentúa la atmósfera acogedora del espacio, destacando por su elegancia y funcionalidad.",
				"El contraste entre el vidrio de los ventanales y las paredes blancas refuerza la estética contemporánea de la vivienda. Al pie de estas ventanas, las plantas tropicales y el paisajismo cuidadosamente diseñado añaden un toque de vida, logrando un equilibrio perfecto entre lo natural y lo construido."
			]} />

			<SingleImagePair images={[
				{
					image: imagenEspacio1,
					title: "Espacios Verdes",
					subtitle: "San Francisco"
				},
				{
					image: imagenEspacio2,
					title: "Ventanales",
					subtitle: "San Francisco",
					parallax: '0.07'
				}
			]}/>

			<SingleInfo
			title="El Comedor"
			text={[
				"Este espacio combina diseño moderno y funcionalidad, destacándose por una conexión fluida entre el interior y el exterior. La sala de estar, de estilo minimalista, presenta sofás blancos que aportan luminosidad, mientras que el techo de concreto y las luminarias negras brindan un contraste contemporáneo. Grandes ventanales de vidrio corredizo enmarcan una vista hacia una terraza cubierta con pérgola de madera, ofreciendo una transición perfecta hacia el jardín. Cada detalle, desde los muebles hasta la decoración, está pensado para crear un ambiente acogedor y elegante.",
			]} />

			<SingleImage image={imagenComedor}  title="El Comedor" subtitle="San Francisco" />


			<SingleInfo
			text={[
				"Este espacio combina diseño moderno y funcionalidad, destacándose por una conexión fluida entre el interior y el exterior. La sala de estar, de estilo minimalista, presenta sofás blancos que aportan luminosidad, mientras que el techo de concreto y las luminarias negras brindan un contraste contemporáneo.",
				"Grandes ventanales de vidrio corredizo enmarcan una vista hacia una terraza cubierta con pérgola de madera, ofreciendo una transición perfecta hacia el jardín. Cada detalle, desde los muebles hasta la decoración, está pensado para crear un ambiente acogedor y elegante."
			]} />

			<SingleImagePair images={[
				{
					image: imagenEspacios1,
					title: "Pasillo a Medida",
					subtitle: "San Francisco"
				},
				{
					image: imagenEspacios2,
					title: "Baño moderno y funcional",
					subtitle: "San Francisco",
					parallax: '0.07'
				}
			]}/>

			<SingleInfo
			text={[
				"Estos espacios combinan elegancia y funcionalidad, fusionando detalles modernos con toques cálidos. El baño destaca por los azulejos en tonos verdes que aportan frescura y modernidad, complementados por un lavabo de piedra y grifería minimalista, creando un ambiente sofisticado. En el pasillo, la carpintería en madera natural añade calidez, con armarios y estanterías integradas que optimizan el almacenamiento. Los acabados impecables y la iluminación estratégica unen estilo y practicidad, ofreciendo un recorrido armonioso que refleja confort y diseño.",
				
			]} />

			<!-- 
			<SingleImagePair images={[
				{
					image: galeria1,
					title: "La Galeria",
					subtitle: "Acanforest"
				},
				{
					image: galeria2,
					title: "La Galeria",
					subtitle: "Acanforest",
					parallax: '0.07'
				}
			]}/>
			 -->
			
			 
			<!-- 			 
			<SingleInfo
			text={[
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, turpis pretium varius suscipit, lectus est interdum turpis, a ullamcorper felis ipsum eu neque. Fusce vitae sapien sed dolor tempor convallis. Nulla id velit nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus aliquam dapibus. Pellentesque at consectetur nibh, scelerisque iaculis massa. Vestibulum elit dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
			]} />

			<SingleImage image={imageGaleria}  title="La Galeria" subtitle="Acanforest" />

			<SingleInfo
			title="El Comedor"
			text={[
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, turpis pretium varius suscipit, lectus est interdum turpis, a ullamcorper felis ipsum eu neque. Fusce vitae sapien sed dolor tempor convallis. Nulla id velit nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus aliquam dapibus. Pellentesque at consectetur nibh, scelerisque iaculis massa. Vestibulum elit dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
			]} />

			<SingleImagePair images={[
				{
					image: comedor1,
					title: "El Comedor",
					subtitle: "Acanforest"
				},
				{
					image: comedor2,
					title: "El Comedor",
					subtitle: "Acanforest",
					parallax: '0.07'
				}
			]}/>

			<SingleInfo
			text={[
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, turpis pretium varius suscipit, lectus est interdum turpis, a ullamcorper felis ipsum eu neque. Fusce vitae sapien sed dolor tempor convallis. Nulla id velit nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus aliquam dapibus. Pellentesque at consectetur nibh, scelerisque iaculis massa. Vestibulum elit dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
			]} />

			<SingleImageHero image={imageHero2} title="La Galeria" subtitle="Acanforest" lazyload />

			<SingleInfo
			text={[
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, turpis pretium varius suscipit, lectus est interdum turpis, a ullamcorper felis ipsum eu neque. Fusce vitae sapien sed dolor tempor convallis. Nulla id velit nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus aliquam dapibus. Pellentesque at consectetur nibh, scelerisque iaculis massa. Vestibulum elit dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, turpis pretium varius suscipit, lectus est interdum turpis, a ullamcorper felis ipsum eu neque. Fusce vitae sapien sed dolor tempor convallis. Nulla id velit nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus aliquam dapibus. Pellentesque at consectetur nibh, scelerisque iaculis massa. Vestibulum elit dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
			]} />
			 -->



		</section>

		<CallToAction />
		<Footer />

	</main>
</Layout>

<style>

section {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
header{
	margin-bottom: 10px;
}

h1{
	font-weight: 400;
	font-size: 28px;
	margin: 2px 0 20px;
}
h2{
	font-weight: 300;
	font-size: 18px;
	margin: 3px 0 25px;
	b{
		font-weight: 400;
	}

}
p{
	font-size: 16px;
	line-height: 1.6;
	color: #565656;
}
section{
	margin-bottom: 10px;
}

@media screen and (min-width: 768px) {

	section {
		gap: 80px;
	}
	header{
		padding: 40px 0 0;
	}
	h1{
		font-weight: 300;
		font-size: 66px;
		margin: 2px 0 50px;
	}
	h2{
		font-weight: 200;
		font-size: 62px;
	}
	p{
		color: #444;
		font-size: 22px;
		line-height: 1.5;
		font-weight: 300;
		margin: 40px 0 0 120px;
	}
}

</style>




